/* src/App.css */
body{
  background-color: teal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  font-family: 'Arial', sans-serif;
}

.game-board {
  margin-top: 50px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.square {
  background-color: #fff;
  border: 1px solid gray;
  color: rgb(1, 27, 27);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  width: 400px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 40px;
  cursor: pointer;
}

.status {
  margin-bottom: 10px;
  font-size:16px;
  font-weight: bold;
}

.square:hover {
  background-color: #f3f3f3;
}
